* {
  font-family: 'Press Start 2P', cursive;
}

#rule-container {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

#button-container, #timer-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#timer-bar {
  width: 50%;
}

#ruleslist {
  margin-top: 50px;
}

button {
  width: 25%;
}

ul {
  width: 50%;
  list-style-position: inside;
  margin: auto;
}
